.codingbox {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding-top: 10px;
    background-color: #333;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 6px rgba(100, 100, 100, 0.5);
    margin-bottom: 30px;
}

.codingbox .nav,
.codingbox .nav:hover,
.codingbox .nav-tabs:hover {
    background-color: #333 !important;
}

#body .codingbox .tabbed ul.nav {
    position: relative !important;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: auto;
    line-height: 20px;
    font-size: 20px;

}

.display_fullscreen {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    max-width: 100%;
    border-radius: 0px;
    z-index: 9999;
}

.display_fullscreen .nav-tabs {
    height: 40px;
    position: relative !important;
    overflow: hidden;
}

.display_fullscreen .tab-content {
    height: calc(100vh - 300px);
}


.display_fullscreen .canvas {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

.display_fullscreen .console-row {
    height: 140px;
}

.display_fullscreen .buttons-row {
    height: 60px;
}

.display_fullscreen .tab-pane.src-tab {

    overflow: scroll;

}

.display_fullscreen .tab-pane,
.display_fullscreen .editor_row,
.display_fullscreen .editor {
    height: 100%;
}

.display_fullscreen .editor {
    min-height: 100% !important;
    overflow-y: scroll;
}


.codingbox a {
    color: white;
}


.codingbox .nav-tabs .nav-link {
    border-color: white;
    font-size: 20px;
}


.codingbox .nav-tabs {
    padding-left: 20px;
    padding-right: 20px;
}

.codingbox .nav-tabs .nav-link.active {
    background-color: #666;
    color: white;
}

.codingbox .tabs.header {
    padding-left: 10px;
    padding-right: 10px;
}

.codingbox .code {
    display: none;
}

.codingbox .canvas_row {
    background-color: white;
}

.codingbox .canvas {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ddd;
    background-color: #eee;
}

.codingbox .canvas-wrapper.turtle {
    border: 1px solid #ddd;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    display: block;
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10x;
    background-color: #eee;
}

.codingbox .p5Canvas {
    border: 1px solid #ddd;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    background-color: white;
}

.codingbox .buttons_row {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: center;
}

.codingbox .buttons_row .btn.run {
    background-color: #266;
}

.codingbox .buttons_row .btn.clear {
    background-color: #844;
}

.codingbox .buttons_row a {
    border: 1px solid white;
    border-radius: 4px;
    margin: 4px;
    color: white;
}

.codingbox .console-wrapper {
    background-color: #444;
    margin-top: 20px;
}

.codingbox .console-wrapper h3 {
    font-size: 1.2em;
    line-height: 1.2em;
    color: white;
    padding: 4px;
}

.codingbox .console-wrapper .console {
    color: white;
    max-height: 300x;
    overflow-y: scroll;
    padding: 20px;
    background-color: #333;
    width: 100%;
}

.codingbox .spinner {
    height: 80px;
    background-color: lightgrey;
}

.codingbox .lds-ring {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}

.codingbox .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #666 transparent transparent transparent;
}

.codingbox .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.codingbox .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.codingbox .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#editor {
    position: relative;
    width: 100%;
    border: 1px solid grey;
    min-height: 100px;
    width: 100%;
}

.codingbox.display_sketch {
    padding-top: 0px;
}

.display_sketch .nav-tabs {
    display: none;
}