<div class="code_row" style="display:none">
    <textarea class="code" cols="40" style="display:none;"></textarea>
</div>
<!--
<div class="spinner lds-ring">
<div></div>
<div></div>
<div></div>
<div></div>
</div>
-->
<div class="tabbed">
    <ul class="nav nav-tabs" id="codingbox_tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="src-tab_toggle" data-toggle="tab" href="#src_tab" role="tab" aria-controls="home" aria-selected="true">Source</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="canvas-tab_toggle" data-toggle="tab" href="#canvas_tab" role="tab" aria-controls="profile" aria-selected="false">Canvas</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="src_tab" role="tabpanel" aria-labelledby="SRC Tab">
            <div class="editor_row">
                <div class="editor" cols="40" rows="10"></div>
            </div>
        </div>
        <div class="tab-pane fade" id="canvas_tab" role="tabpanel" aria-labelledby="Canvas Tab">
            <div class="canvas" height="400px" style="display:none;">
            </div>
        </div>
    </div>
</div>
<div class="console_row"></div>
<div class="buttons_row"></div>